<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?20201029">
    <link rel="shortcut icon" href="{% static 'media/images/only_logo.png' %}" type="image/png">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <nav class="navbar navbar-light bg-light">
        <span class="border border-dark rounded">
            <img src="{% static 'media/images/logo_1.png' %}" alt="" width="125"
             height="55">
        </span>
    </nav>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <a href="{% url 'home' %}">
                    <button class="btn btn-outline-dark" type="button">Главная</button>
                </a>
            </form>
        </nav>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <a href="{% url 'about' %}">
                    <button class="btn btn-outline-dark" type="button">Про нас</button>
                </a>
            </form>
        </nav>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <a href="#">
                    <button class="btn btn-outline-dark" type="button" data-toggle="modal"
                            data-target="#exampleModal">Карта
                    </button>
                </a>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Карта</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                На карте вы можете посмотреть районы доставки наших посылок!
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-emoji-sunglasses"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd"
                                          d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM6.5 6.497V6.5h-1c0-.568.447-.947.862-1.154C6.807 5.123 7.387 5 8 5s1.193.123 1.638.346c.415.207.862.586.862 1.154h-1v-.003l-.003-.01a.213.213 0 0 0-.036-.053.86.86 0 0 0-.27-.194C8.91 6.1 8.49 6 8 6c-.491 0-.912.1-1.19.24a.86.86 0 0 0-.271.194.213.213 0 0 0-.036.054l-.003.01z"/>
                                    <path d="M2.31 5.243A1 1 0 0 1 3.28 4H6a1 1 0 0 1 1 1v1a2 2 0 0 1-2 2h-.438a2 2 0 0 1-1.94-1.515L2.31 5.243zM9 5a1 1 0 0 1 1-1h2.72a1 1 0 0 1 .97 1.243l-.311 1.242A2 2 0 0 1 11.439 8H11a2 2 0 0 1-2-2V5z"/>
                                </svg>
                            </div>
                            <div class="modal-footer">
                                <a href="#">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Хорошо</button>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </nav>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
                <a href="{% url 'create' %}">
                    <button class="btn btn-outline-dark" type="button" id="nav">Создать задачу</button>
                </a>
            </form>
        </nav>
    </div>
    <a class="btn btn-outline-primary" href="{% url 'sign_up' %}">Войти</a>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</body>
</html>