{% extends 'base.html' %}

{% block head %}
    <div class="position-relative overflow-hidden p-3 p-md-5 bg-primary">
            <img src="static/img/reno t460.jpg" class="rounded float-right shadow-lg" alt="..." wight="300px" height="400px">
            <div class="col-md-5 p-lg-5 my-4 mx-left text-light text-start">
              <h2 class="fs-normal">Решения для практически бесконечного числа потребностей в логистике</h2><br>
              <p class="lead fw-normal">KHAB EXPRESS предоставляет возможность быстрой доставки груза или документов по всей территории Дальнего воспользоватьсяка. Наши офисы расположены более чем в 100 городах региона.</p>
            </div>
        </div>

{% endblock %}

{% block content %}
    <br><br><br>
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading bg-primary rounded p-3 text-light">Наши сотрудники.
                <span class="text-light">Они просто великолепны!</span>
                </h2>
                <p class="lead">У нас в компании раюотают только лучшие сотрудники, которые и помогаю нашей компании расти и развиваться дальше!</p>
            </div>
            <div class="col-md-5">
                <img class="card-img-top" src="static/img/store.jpg" alt="Card image cap" width="300" height="300">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading bg-primary rounded p-3 text-light">Это все ради вас. <span
                        class="text-light">Мы стараемся каждый день становиться лучше.</span></h2>
                <p class="lead p-3">Каждые пол года наши сотрудники, в том числе и курьеры, проходят курсы профессианальной подготовки.
                В этот курс входят такие тренинги как: повышение квалификации, работа с клиентами, обучение использованию новых технологий.
                Также каждый сторудник раз в год проходит полное медицинское обследование</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="card-img-top" src="static/img/deivery.jpg" alt="Card image cap" width="300" height="400">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading bg-primary rounded p-3 text-light">Мы гарантируем качество доставки вашей посылки!
                </h2>
                <p class="lead p-3">Наша компания гарантирует сохраность посылки во время перевозки. Также наша
                компания предлагает вам воспользоваться курьером, если вы проживаете в городе где нет нашего офиса
                <a href='map.html   '>Здесь вы можете ознакомиться с расположением наших офисов!</a></p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="card-img-top" src="static/img/deliv.jpg" alt="Card image cap" width="400" height="400">
            </div>
        </div>
    </div>



    <!-- FOOTER -->
        <hr><br>
        <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2021 KHAB EXPRESS · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer><br>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
{% endblock %}