<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?20201029">
    <link rel="shortcut icon" href="media/only_logo.png" type="image/png">
    <title>Про нас</title>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-primary bg-primary border-bottom border-primary">
    <nav class="navbar navbar-white bg-primary">
        <span class="border border-light rounded">
            <img src="media/logo_1.png" alt="" width="125"
             height="55">
        </span>
    </nav>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <nav class="navbar navbar-white bg-primary">
            <form class="form-inline">
                <a href="index.html">
                    <button class="btn btn-outline-light" type="button">Главная</button>
                </a>
            </form>
        </nav>
        <nav class="navbar navbar-white bg-primary">
            <form class="form-inline">
                <a href="about-us.html">
                    <button class="btn btn-outline-light" type="button">Про нас</button>
                </a>
            </form>
        </nav>
    </div>
    <a class="btn btn-outline-light" href="map.html">Наши офисы</a>
</nav>

<div>
    <div class="position-relative overflow-hidden p-3 p-md-5 bg-primary">
            <img src="media/reno t460.jpg" class="rounded float-right shadow-lg" alt="..." wight="300px" height="400px">
            <div class="col-md-5 p-lg-5 my-4 mx-left text-light text-start">
              <h2 class="fs-normal">Решения для практически бесконечного числа потребностей в логистике</h2><br>
              <p class="lead fw-normal">KHAB EXPRESS предоставляет возможность быстрой доставки груза или документов по всей территории Дальнего Востока. Наши офисы расположены более чем в 100 городах региона.</p>
            </div>

</div>

<div class="container">
        <br><br><br>
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading bg-primary rounded p-3 text-light">Наши сотрудники.
                <span class="text-light">Они просто великолепны!</span>
                </h2>
                <p class="lead">У нас в компании раюотают только лучшие сотрудники, которые и помогаю нашей компании расти и развиваться дальше!</p>
            </div>
            <div class="col-md-5">
                <img class="card-img-top" src="media/store.jpg" alt="Card image cap" width="300" height="300">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading bg-primary rounded p-3 text-light">Это все ради вас. <span
                        class="text-light">Мы стараемся каждый день становиться лучше.</span></h2>
                <p class="lead p-3">Каждые пол года наши сотрудники, в том числе и курьеры, проходят курсы профессианальной подготовки.
                В этот курс входят такие тренинги как: повышение квалификации, работа с клиентами, обучение использованию новых технологий.
                Также каждый сторудник раз в год проходит полное медицинское обследование</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="card-img-top" src="media/deivery.jpg" alt="Card image cap" width="300" height="400">
            </div>
        </div>

        <hr class="featurette-divider">

                <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading bg-primary rounded p-3 text-light">Мы гарантируем качество доставки вашей посылки!
                </h2>
                <p class="lead p-3">Наша компания гарантирует сохраность посылки во время перевозки. Также наша
                компания предлагает вам воспользоваться курьером, если вы проживаете в городе где нет нашего офиса
                <a href='map.html   '>Здесь вы можете ознакомиться с расположением наших офисов!</a></p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="card-img-top" src="media/deliv.jpg" alt="Card image cap" width="400" height="400">
            </div>
        </div>
    </div>



    <!-- FOOTER -->
        <hr><br>
        <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2021 KHAB EXPRESS · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer><br>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>
