		<!doctype html>
		<html lang="en">
		<head>
		    <meta charset="UTF-8">
		    <meta name="viewport"
		          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		    <link rel="shortcut icon" href="static/img/only_logo.png" type="image/png">
		    <title>{% block title %}{% endblock %}</title>

		</head>
		<body>
		<nav class="navbar navbar-expand-lg navbar-primary bg-primary border-bottom border-primary">
		    <nav class="navbar navbar-white bg-primary">
		        <span class="border border-light rounded">
		            <img src="static/img/logo_1.png" alt="" width="125" height="55">
		        </span>
		    </nav>

		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		        <nav class="navbar navbar-white bg-primary">
		            <form class="form-inline" method="post">
		                <a href="/index_khab" id="index_redirect">
		                    <button class="btn btn-outline-light" type="button">Главная</button>
		                </a>
		            </form>
		        </nav>
		        <nav class="navbar navbar-white bg-primary">
		            <form class="form-inline">
		                <a href="/about-us">
		                    <button class="btn btn-outline-light" type="button">Про нас</button>
		                </a>
		            </form>
		        </nav>
		        <nav class="navbar navbar-white bg-primary">
		            <form class="form-inline">
		                <a href="/about-us">
		                    <button class="btn btn-outline-light" type="button">Наши офисы</button>
		                </a>
		            </form>
		        </nav>
		    </div>
		    <a class="btn btn-outline-light" href="/map">Войти</a>
		</nav>


		<div>
			{% block head %}{% endblock %}
		</div>

		<div class="container">
		    {% block content %}{% endblock %}
		</div>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		        crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		        crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		        crossorigin="anonymous"></script>

		</body>
		</html>