<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="static/img/only_logo.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container"><br>
        <img class="shadow rounded mx-auto d-block" src="static/img/logo_1.png" alt="Логотип сайта" width="19%"> <br>
        <h1 class="custom_form">Войти на KHAB EXPRESS</h1><br>
        <form class="login_form" action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(class="form-control") }}<br>
                {% for error in form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </p>
            <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-success") }}</p>
            <div>{{ message }}</div>
        </form>
    </div>
</body>
</html>