{% extends 'base.html' %}

{% block title %}
    Отследить заказ по коду
{% endblock %}

{% block head %}
<form class="register_form" action="" method="post"><br>
    <h1>Отследить заказ</h1><br>
    {{ form.hidden_tag() }}
    <p>
        {{ form.random_order_code.label }}<br>
        {{ form.random_order_code(class="form-control") }}<br>
        {% for error in form.random_order_code.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}<br>
        {% if form.validate_on_submit() %}
            <img src="static/img/map.png" alt="" width="700", height="500"><br><br>
            <p> Статус: В пути </p> 
            <p> Адрес доставки: Комсомольская </p>
            <p class="float-left"> Город отправки: {{ cities.delivery_city }} </p>
            <p class="float-right"> Город доставки: {{ cities.forwarding_city }} </p>
        {% endif %}
    </p>        
    {% if not form.validate_on_submit() %}
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {% endif %}
    {{message}}
</form>

{% endblock %}